<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
        <ion-button routerLink = "/novo" color="light">
            Adicionar bolo
            <ion-icon slot="start" name="add-circle"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title>
      Nossos Bolos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item class="ion-no-padding" *ngFor="let bolo of bolos">
        <ion-thumbnail slot="start">
          <img [src]="bolo.url" />
        </ion-thumbnail>
        <ion-label routerLink="/bolo/{{bolo.id}}"
          >{{bolo.nome}}
          <p>por apenas R${{bolo.preco}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
